body {
  margin: 0;
  background-color: #262B3F;
  color: white;
  font-family: Apercu;
}

@font-face {
  font-family: Apercu;
  src: url("./fonts/Apercu\ Pro\ Regular.otf") format("opentype");
}

@font-face {
  font-family: Apercu;
  font-weight: bold;
  src: url("./fonts/Apercu\ Pro\ Bold.otf") format("opentype");
}


@font-face {
  font-family: Apercu;
  font-weight: medium;
  src: url("./fonts/Apercu\ Pro\ Medium.otf") format("opentype");
}